.user-can-drag {
  cursor: grab;
}

.is-dragging {
  // Important because plugin sets inline CSS
  opacity: 1 !important;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // !important to make sure no style can override this when dragging
    cursor: grabbing !important;
  }
}

.is-ghost {
  opacity: 0.3;
  pointer-events: none;
}

.dropdown-projects {
  .dropdown-content {
    max-height: 200px;
  }
}

.dropdown-menu-issues-board-new {
  width: 320px;

  .dropdown-content {
    max-height: 140px;
  }
}

.issue-board-dropdown-content {
  margin: 0;
  padding: $gl-padding-4 $gl-padding $gl-padding;
  border-bottom: 0;
  color: $gl-text-color-secondary;
}

.issue-boards-page {
  .content-wrapper {
    padding-bottom: 0;
  }
}

.boards-app {
<<<<<<< HEAD
  @include media-breakpoint-up(sm) {
=======
  position: relative;

  @media (min-width: $screen-sm-min) {
>>>>>>> test-v10.3.1
    transition: width $sidebar-transition-duration;
    width: 100%;

    &.is-compact {
      width: calc(100% - #{$gutter-width});
    }
  }
}

.boards-list {
  height: calc(100vh - #{$issue-board-list-difference-xs});
  overflow-x: scroll;
  min-height: 200px;

  @include media-breakpoint-only(sm) {
    height: calc(100vh - #{$issue-board-list-difference-sm});
  }

  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$issue-board-list-difference-md});
  }

  .with-performance-bar & {
    height: calc(100vh - #{$issue-board-list-difference-xs} - #{$performance-bar-height});

    @include media-breakpoint-only(sm) {
      height: calc(100vh - #{$issue-board-list-difference-sm} - #{$performance-bar-height});
    }

    @include media-breakpoint-up(md) {
      height: calc(100vh - #{$issue-board-list-difference-md} - #{$performance-bar-height});
    }
  }
}

.board {
  width: calc(85vw - 15px);

  @include media-breakpoint-up(sm) {
    width: 400px;
  }

  &.is-expandable {
    .board-header {
      cursor: pointer;
    }
  }

  &.is-collapsed {
    width: 50px;

    .board-title {
      > span {
        width: 100%;
        margin-top: -12px;
        display: block;
        transform: rotate(90deg) translate(35px, 0);
        overflow: initial;
      }
    }

    .board-title-expandable-toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
    }
  }
}

.board-inner {
  font-size: $issue-boards-font-size;
  background: $gray-light;
  border: 1px solid $border-color;
}

.board-header {
  &.has-border::before {
    border-top: 3px solid;
    border-color: inherit;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    top: 0;
    left: 0;
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;

    .board-title {
      padding-top: ($gl-padding - 3px);
      padding-bottom: $gl-padding;
    }
  }
}

.board-title {
  font-size: 1em;
  border-bottom: 1px solid $border-color;
}

.board-title-text {
  margin: $gl-vert-padding auto $gl-vert-padding 0;
}

.board-delete {
  margin-right: 10px;
  color: $gray-darkest;
  background-color: transparent;
  outline: 0;

  &:hover {
    color: $blue-600;
  }
}

.board-blank-state,
.board-promotion-state {
  background-color: $white-light;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.board-blank-state-list {
  > li:not(:last-child) {
    margin-bottom: 8px;
  }

  .label-color {
    top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
  }
}

.board-list-component {
  min-height: 0; // firefox fix
}

.board-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.board-list-loading {
  margin-top: 10px;
  font-size: (26px / $issue-boards-font-size) * 1em;
}

.board-card {
  background: $white-light;
  border: 1px solid $gray-200;
  box-shadow: 0 1px 2px $issue-boards-card-shadow;
  line-height: $gl-padding;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: $gl-padding-8;
  }

  &.is-active,
  &.is-active .board-card-assignee:hover a {
    background-color: $blue-50;
  }

  .badge {
    border: 0;
    outline: 0;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-down(lg) {
      font-size: $gl-font-size-xs;
      padding-left: $gl-padding-4;
      padding-right: $gl-padding-4;
      font-weight: $gl-font-weight-bold;
    }
  }

  .confidential-icon {
    color: $orange-600;
    cursor: help;
  }

  @include media-breakpoint-down(md) {
    padding: $gl-padding-8;
  }
}

.board-card-title {
  @include overflow-break-word();
  font-size: 1em;

  a {
    color: $gl-text-color;
  }

  @include media-breakpoint-down(md) {
    font-size: $label-font-size;
  }
}

.board-card-header {
  text-align: initial;
}

.board-card-assignee {
  margin-top: -$gl-padding-4;
  margin-bottom: -$gl-padding-4;

  .avatar-counter {
    vertical-align: middle;
    line-height: $gl-padding-24;
    min-width: $gl-padding-24;
    height: $gl-padding-24;
    border-radius: $gl-padding-24;
    background-color: $gl-text-color-tertiary;
    font-size: $gl-font-size-xs;
    cursor: help;
    font-weight: $gl-font-weight-bold;
    margin-left: -$gl-padding-4;
    border: 0;
    padding: 0 $gl-padding-4;

    @include media-breakpoint-down(md) {
      min-width: auto;
      height: $gl-padding;
      border-radius: $gl-padding;
      line-height: $gl-padding;
    }
  }

  img {
    vertical-align: top;
  }

  .user-avatar-link:not(:only-child) {
    margin-left: -$gl-padding-4;

    &:nth-of-type(1) {
      z-index: 2;
    }

    &:nth-of-type(2) {
      z-index: 1;
    }
  }

  .avatar {
    margin: 0;

    @include media-breakpoint-down(md) {
      width: $gl-padding;
      height: $gl-padding;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.board-card-number {
  font-size: $gl-font-size-xs;
  color: $gl-text-color-secondary;

  @include media-breakpoint-up(md) {
    font-size: $label-font-size;
  }
}

.board-list-count {
  padding: 10px 0;
  color: $gl-text-color-secondary;
  font-size: 13px;
}

.board-new-issue-form {
  z-index: 4;
  margin: 5px;
}

.issue-boards-sidebar {
  .gutter-toggle {
    bottom: 15px;
    width: 22px;
    color: $gray-darkest;

    svg {
      position: absolute;
      top: 50%;
      margin-top: (-11px / 2);
    }

    &:hover {
      path {
        fill: $gray-darkest;
      }
    }
  }

  .issuable-header-text {
    @include overflow-break-word();
    padding-right: 35px;
  }
}

.right-sidebar.right-sidebar-expanded {
  &.boards-sidebar-slide-enter-active,
  &.boards-sidebar-slide-leave-active {
<<<<<<< HEAD
    transition: width $sidebar-transition-duration, padding $sidebar-transition-duration;
=======
    transition: width $sidebar-transition-duration,
                padding $sidebar-transition-duration;
>>>>>>> test-v10.3.1
  }

  &.boards-sidebar-slide-enter,
  &.boards-sidebar-slide-leave-active {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.add-issues-modal {
  background-color: rgba($black, 0.3);
  z-index: 9999;
}

.add-issues-container {
  width: 90vw;
  height: 85vh;
  max-width: 1100px;
  min-height: 500px;
  padding: 25px 15px 0;
  background-color: $white-light;
  box-shadow: 0 2px 12px rgba($black, 0.5);

  .empty-state {
    &.add-issues-empty-state-filter {
      flex-direction: column;
      justify-content: center;
    }

    .svg-content {
      margin-top: -40px;
    }
  }
}

.add-issues-header {
  margin: -25px -15px -5px;
  border-bottom: 1px solid $border-color;
  border-top-right-radius: $border-radius-default;
  border-top-left-radius: $border-radius-default;

  > h2 {
    font-size: 18px;
  }
}

.add-issues-list-column {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 50%;
  }

  @include media-breakpoint-up(md) {
    width: (100% / 3);
  }
}

.add-issues-list {
  padding-top: 3px;
  margin-left: -$gl-vert-padding;
  margin-right: -$gl-vert-padding;
  overflow-y: scroll;

  .board-card-parent {
    padding: 0 5px 5px;
  }

  .board-card {
    border: 1px solid $border-gray-dark;
    box-shadow: 0 1px 2px rgba($issue-boards-card-shadow, 0.3);
    cursor: pointer;
  }
}

.add-issues-footer {
  margin: auto -15px 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: $border-radius-default;
  border-bottom-left-radius: $border-radius-default;
}

.add-issues-footer-to-list {
  padding-left: $gl-vert-padding;
  padding-right: $gl-vert-padding;
  line-height: 34px;
}

.issue-card-selected {
  position: absolute;
  right: -3px;
  top: -3px;
  width: 17px;
  background-color: $blue-500;
  color: $white-light;
  border: 1px solid $blue-600;
  font-size: 9px;
  line-height: 15px;
  border-radius: 50%;
}

.board-card-info {
  color: $gl-text-color-secondary;
  white-space: nowrap;
  margin-right: $gl-padding-8;

  &:not(.board-card-weight) {
    cursor: help;
  }

  &.board-card-weight {
    color: $gl-text-color;
    cursor: pointer;

    &:hover {
      color: initial;
      text-decoration: underline;
    }
  }

  .board-card-info-icon {
    color: $gray-600;
    margin-right: $gl-padding-4;
  }

  @include media-breakpoint-down(md) {
    font-size: $label-font-size;
  }
}

.board-issue-path.js-show-tooltip {
  cursor: help;
}
